
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#vino {

 font-size: 70px;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.image-container {
    max-width: 250px; /* Regola la dimensione */
    border: 5px solid #333; /* Cornice */
    border-radius: 15px; /* Aggiungi angoli arrotondati */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Aggiungi ombra */
    padding: 5px;
    margin-right: 10px; /* Spazio a destra */
    background-color: #f9f9f9; /* Colore di sfondo */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Aggiungi transizione */
    overflow: hidden; /* Nascondi overflow */
    position: relative; /* Posizionamento relativo */
    margin-bottom: 20px; /* Spazio sotto l'immagine */
    
}

.image-container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.3), rgba(0, 0, 0, 0.3));
    opacity: 0;
    transition: opacity 0.3s ease;
}

.image-container:hover::before {
    opacity: 1;
}

.image-container:hover {
    transform: scale(1.05); /* Effetto di ingrandimento al passaggio del mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombra più intensa al passaggio del mouse */
}

.container {
    max-width: 100%;
    overflow-x: hidden;
}

.table {
    width: 90%;
    table-layout: fixed;
    word-wrap: break-word;
    margin-top: 20px; /* Spazio tra le tabelle */
    margin-bottom: 20px;
}


h2 {
    margin-top: 20px; /* Aggiunge spazio sopra ogni titolo */
    margin-bottom: 20px; /* Aggiunge spazio sotto ogni titolo */
}


.image-container img {
    width: 100%; /* Occupa sempre il massimo dello spazio disponibile */
    height: auto; /* Mantiene le proporzioni */
    object-fit: contain; /* Assicura che l'immagine non venga distorta */
}
